@font-face {
    font-family: Torus;
    src: url("Assets/TorusRegular.otf") format("opentype");
}

body {
    background-color: #080010;
    color: #fff;
    margin: 0;
}

#reset {
    background-image: linear-gradient(to bottom, #303080, #101040);
    border-style: none;
    color: white;
    width: 128px;
    height: 48px;
    font-size: 24px;
    border-radius: 16px;
}

/*body * {
    border: 1px solid red;
}*/

#ham-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Torus;
    height: calc(100vh - 2px);
}

#ham-game {
    /*width: max-content;
    height: max-content;*/

    background-image: linear-gradient(to bottom, #202050, #101020);

    width: 768px;
    height: 768px;

    border-radius: 16px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#ham-title {
    font-size: 32pt;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 16px;
}

#ham-playfield-container {
    width: 100%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ham-playfield {
    display: flex;
    flex-direction: column;

    height: 90%;
    aspect-ratio: 1 / 1;
}

.field {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3 - 4px);
    height: calc(100% - 4px);

    font-size: 96px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100%/3);
}

#status {
    display: flex;
    width: 100%;
    gap: 16px;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: center;

    font-size: 32px;
}

.separator {
    width: 704px;
    height: 1px;
    background-color: #fff;
}